<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwi.zlh.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="gwi.zlh.model.Role">
        <id column="roleId" jdbcType="INTEGER" property="roleid" />
        <result column="roleDescription" jdbcType="VARCHAR"
            property="roledescription" />
    </resultMap>
    <sql id="Base_Column_List">
        roleId, roleDescription
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from role
        where roleId = #{roleid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from role
        where roleId = #{roleid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="gwi.zlh.model.Role">
        insert into role (roleId, roleDescription)
        values (#{roleid,jdbcType=INTEGER}, #{roledescription,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="gwi.zlh.model.Role">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleid != null">
                roleId,
            </if>
            <if test="roledescription != null">
                roleDescription,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleid != null">
                #{roleid,jdbcType=INTEGER},
            </if>
            <if test="roledescription != null">
                #{roledescription,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="gwi.zlh.model.Role">
        update role
        <set>
            <if test="roledescription != null">
                roleDescription = #{roledescription,jdbcType=VARCHAR},
            </if>
        </set>
        where roleId = #{roleid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="gwi.zlh.model.Role">
        update role
        set roleDescription = #{roledescription,jdbcType=VARCHAR}
        where roleId = #{roleid,jdbcType=INTEGER}
    </update>
</mapper>